<h2>メモアプリ</h2>

<% if subject_to_memo = @json_data.find { |memo| memo.key?(@id) } %>
  <p>タイトル:<%= subject_to_memo[@id]['title'] %></p>
  <p>内容:<%= subject_to_memo[@id]['text'] %></p>
<% end %>

<form method="post" action="/<%= @id %>/edit" style="display: inline-block; margin-right: 20px;">
  <input type="hidden" name="_method" value="PATCH">
  <button type="submit">変更</button>
</form>

<form method="post" action="/<%= @id %>" style="display: inline-block;">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">削除</button>
</form>

<p><a href="/">戻る</a></p>
