<h2>メモアプリ</h2>

<p><a href="/">戻る</a></p>

<section>
  <% if subject_to_memo = @json_data.find { |memo| memo.key?(@id) } %>
    <form method="post" action="/<%= @id %>">
      <label>タイトル</label><br>
      <input name="title" value="<%= subject_to_memo[@id]['title'] %>" style="width: 250px" required><br>
      <label>メモ</label><br>
      <textarea name="text" rows="10" cols="100" required><%= subject_to_memo[@id]['text'] %></textarea><br>
      <button type="submit">変更</button>
    </form>
  <% end %>
</section>
