<h2>メモアプリ</h2>

<p><a href="/memos/<%= @id %>">戻る</a></p>

<form method="post" action="/memos/<%= @id %>">
<input type="hidden" name="_method" value="patch">

  <label for="title"><b>タイトル</b></label><br>
  <input name="title" id="title" value="<%= h(@memo[@id]['title']) %>"
  style="width: 250px" required><br><br>

  <label for="text"><b>メモ</b></label><br>
  <input name="text" value="<%= h(@memo[@id]['text']) %>"
  style="width: 250px" required><br><br>

  <button type="submit">変更</button>
</form>
