<div style="display: flex; align-items: baseline;">
  <h2 style="margin-right: 50px;">メモアプリ</h2>
  <form method="get" action="/new">
    <button type="submit">追加</button>
  </form>
</div>

<% memo_number = 1 %>
<% @memos.each do |memo| %>
  <% memo.each do |id, title_and_text| %>
    <p>
      <span style="margin-right: 8px" label="memo"><b><%= memo_number %>.</b></span>
      <a href="/memos/<%= hattr(id) %>"><%= h(title_and_text['title']) %></a>
    </p>
    <% memo_number += 1 %>
  <% end %>
<% end %>
