<h2>メモアプリ</h2>

<p><a href="/memos">戻る</a></p>

<form method="post" action="/memos">
  <label for="title"><b>タイトル</b></label><br>
  <input name="title" id="title" style="width: 250px" required><br><br>

  <label for="text"><b>メモ</b></label><br>
  <input name="text" id="text" style="width: 250px" required><br><br>

  <button type="submit">保存</button>
</form>
