<h2 style="margin-bottom: 20px;">メモアプリ</h2>

<p><a href="/">戻る</a></p>

<form method="post" action="/memos">
  <label>タイトル</label><br>
  <input name="title"><br>
  <label>メモ</label><br>
  <textarea name="text" cols="50" rows="10"></textarea><br>
  <button type="submit">保存</button>
</form>
